<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- Disable logback's own status logging -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd.MM.YYYY HH:mm:ss.SSS} [%-5level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %date{dd.MM.YYYY HH:mm:ss.SSS} [%thread] [%-5level] - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/application.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="JERSEY"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/jersey.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %date{dd.MM.YYYY HH:mm:ss.SSS} [%thread] [%-5level] - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/jersey.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="ROOT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/root.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %date{dd.MM.YYYY HH:mm:ss.SSS} [%-5level] - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/root.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.megustav.revolut" level="debug" additivity="false">
        <appender-ref ref="APPLICATION"/>
    </logger>

    <logger name="org.glassfish.jersey" level="debug" additivity="false">
        <appender-ref ref="JERSEY"/>
    </logger>

    <root level="debug">
        <appender-ref ref="ROOT"/>
    </root>

</configuration>